.outer{
    width: 400px;
    height: 400px;
    margin: 100px 200px;
    background-color:yellow;
    border-radius: 50%;
    box-shadow: 8px 8px 12px black;
}
.outer:hover{
    box-shadow: 12px 12px 16px black;
}
.eye{
    display: inline-block;
    margin-top: 90px;
    margin-left: 60px;
}
.eye1{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color:cornsilk;
    position: relative;
}
.iris1{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color:#81b1ce;
    position: absolute;
    top:25px;
    left: 23px;
    
}
.eye2{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color:cornsilk;
    position: relative;
    top:-89px;
    left:190px;
    
}
.iris2{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color:#81b1ce;
    position: absolute;
    top:25px;
    left: 23px;
    
}
.mouth{
    height: 60px;
    width: 170px;
    background-color:#e35d6a;
    border-bottom-right-radius: 60px;
    border-bottom-left-radius: 60px;
    position: relative;
    left: 110px;
}